.mekinaye{
    object-fit: cover;
    height:40%;
}
.headerflex{
    display:flex;
    justify-content:space-between;
    box-shadow: grey;
    background-image: url("../images/smii.jpg");

}
h2{
    font-size: 3rem;
    font-family:cursive,'Times New Roman', Times, serif;
   text-shadow: 5px 5px 10px black;
   margin:1.5rem;
}
h1{
    font-family:  "YELLOWTAIL" ,'Courier New', Courier, monospace;
    font-size: 4rem;
 
 text-shadow: 4px 3px 8px rgb(17, 34, 179);}

header nav{
    background-image: url("../images/smii.jpg");
}

.menu a input {
    background-color: #010801; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    
     margin:2rem 2rem;
     border-style: outset;
     margin-bottom: 0;
}
.logo img{
    margin:0;
   
}


.problem,.solution{
   
    font-size:2rem;
}

*{
    margin:0;
    padding:0;
}
.progress{
    color:green;
    font-size:2rem;
}


footer{
    background-color: black;
    color: white;
   margin-top: 22rem;
}


.procon{
   
  float:right;
  color: white;
  padding: 15px 32px;
  text-align: center;
 border-radius: 2rem;
  font-size: 1rem;

  background-image: url("https://i.pinimg.com/originals/61/44/85/6144853c097827e00c15439bb0193e9e.gif");
  
 
}
.problem,.solution{

    text-indent: 1rem;
    font-family: "papyrus",Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

  .projectflex{
      display: flex;
  }
 
  @media screen and (max-width: 600px) {
.projectflex{
        flex-direction: column;
    }
    .mekinaye{
        width:100%;
        height:70%;
    }
    .emoji{
        width:40%;
        height:50%;
    }
   

   }
   @media screen and (max-width:200px){
      
       .emoji{
           width:40%;
           height:50%;
       }
       h1{
           font-size:1rem;
       }
       h2{
           font-size: 0.5rem;
       }
       .problem,.solution{
           font-size: 0.3rem;
       }
   }
   @media screen and (max-width:190px){
       .procon{
           display: block;
          float:right;}
   }
   footer{
    background-color: black;
    color: white;
   margin-top: 22rem;
}
.contact{
    margin:2em 2em;
}
.fa  {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color:white;
  }
  .copyright{
      float:left;

  }
  .links nav {
    margin-left: 45%;
  }
  .links nav li a{
      padding-left:1rem;
      color:white;
  }
  .socialmedia{
      float:right;
  }
  footer ul li{
      display: inline;
      background-color: black;
  }
  footer{
      display:grid;
      grid-auto-flow: row;
      justify-content: space-between;
      grid-template-columns: 1.5fr 1.5fr 1.5fr;

  }
  .links{
      display: flex;
      gap: 2rem;
      color:white;

  }
  .copyright{
      grid-row: 1/3span;

  }
  .menu a input {
  
    color: white;
    padding: 1rem 2.5rem;
    text-align: center;
   border-radius: 2rem;
    font-size: 1rem;
    margin: 2rem 2rem;

    background-image: url("https://i.pinimg.com/originals/61/44/85/6144853c097827e00c15439bb0193e9e.gif");
    
}
