*{
    margin:0;
    padding:0;
}
.serviceflex1{
    display: flex;
}
.serviceflex2{
    display: flex;
}
h1{
    font-family:  "YELLOWTAIL" ,'Courier New', Courier, monospace;
    font-size: 4rem;
 
 text-shadow: 4px 3px 8px rgb(17, 34, 179);}
 h2{
    font-size: 3rem;
    font-family:cursive,'Times New Roman', Times, serif;
   text-shadow: 5px 5px 10px black;
   margin:1.5rem;
}
.app,.wepp{
    font-size: 1.5rem;
    border-style: outset;
    background-color: rgb(12, 214, 250);
    border-color: black;
    box-shadow: grey;
    font-family: "papyrus",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
footer{
    background-color: black;
    color: white;
   margin-top: 22rem;
}
.contact{
    margin:2em 2em;
}
.fa  {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color:white;
  }
  .copyright{
      float:left;

  }
  .links nav {
    margin-left: 45%;
  }
  .links nav li a{
      padding-left:1rem;
      color:white;
  }
  .headerflex{
    display:flex;
    justify-content:space-between;
    box-shadow: grey;
    background-image: url("../images/smii.jpg");

}


header nav{
    background-image: url("");
}

.menu a input {
  
    color: white;
    padding: 1rem 2.5rem;
    text-align: center;
   border-radius: 2rem;
    font-size: 1rem;
    margin: 2rem 2rem;

    background-image: url("https://i.pinimg.com/originals/61/44/85/6144853c097827e00c15439bb0193e9e.gif");
    
}
.logo img{
    margin:0;
   
}
  .socialmedia{
      float:right;
  }
  footer ul li{
      display: inline;
      background-color: black;
  }
  footer{
      display:grid;
      grid-auto-flow: row;
      justify-content: space-between;
      grid-template-columns: 1.5fr 1.5fr 1.5fr;

  }
  .links{
      display: flex;
      gap: 2rem;
      color:white;

  }
  .copyright{
      grid-row: 1/3span;

  }
@media screen and (max-width:545px){
    .serviceflex2,.serviceflex1{
        flex-direction: column;
    }
}
.sercont1,.sercont2{
    float:right;
    border-style:outset;
    background-color: rgb(44, 255, 107);
    box-shadow: 20px rgb(81, 94, 97);
    font-size: 2rem;
    font-family: "cursive",'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    text-decoration: none;
    margin-top: 2rem;
    padding: 1rem 1rem;
    border-radius:40%;

}
.sercont1:hover{
    background-color: cyan;
}
.sercont2:hover{
    background-color: cyan;
}
